body {
        font-size: 30pt;
        color: rgb(56%,37%,82%);
        }
        p {
            font-size: 20pt;
        color: #6EA85E;
        }
        /* 
         03.04.2024 leszczyńska
        */